html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding-top: 37px;
}

.hd {
	width: 100%;
	height: 37px;
	top: 0;
	left: 0;
	position: fixed;
	border-bottom: 2px solid #D5D5D5;
	background-color: white;
	z-index: 999;
}

.hd-main {
	width: 960px;
	margin: 0 auto;
}

#logo {
/*	margin-left: 100px;*/
/*	opacity: 1;*/
}

.bd {
	width: 960px; height: 100%;
	position: relative;
	margin: 0 auto;
/*
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -480px;
*/
}
.intro-text {
	color: #000;
	z-index: 25;
}
/* The last page style */
.last-page {
	margin-top: 200px;
}
.last-page h1 {
	font-size: 120px;
	font-weight: bold;
	font-family: Microsoft Yahei;
	margin: 50px 0;
}
.last-page p {
	margin: 50px 0;
	font-family: Microsoft Yahei;
}
.last-page a:hover img {
	opacity: 0.8;
}

/*Assets*/
.phone0 {
	left: 490px;
	top: 200px;
	position: absolute;
}

.appicons {
	position: absolute;
	top: -200px;
	left: -380px;
	z-index: 10;
}

.st_0 .intro-text {
	width: 480px;
	top: 200px;
	position: absolute;
	font-family: Microsoft Yahei;
	z-index: 15;
}
.st_0 .intro-text h1 {
	font-size: 84px;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 0.5em;
}
.st_0 .intro-text p {
	font-size: 24px;
}



.st_2 .intro-text {
	position: absolute;
	top: 200px;
	left: 300px;
	width: 500px;
	opacity: 0;
	font-family: Microsoft Yahei;
}
.st_2 .intro-text h1 {
	font-size: 96px;
	line-height: 1em;
}
.st_2 .intro-text p {
	display: block;
	width: 360px;
	font-size: 24px;
	float: right;
	line-height: 1em;
	margin-top: 20px;
}


.functions {
	top: 50%;
	left: 50%;
	position: absolute;
	margin-left: -440px;
	margin-top: -320px;
	z-index: 15;
	box-shadow: #454545 2px 2px 1px;
	opacity: 0.8;
}
.wheatear {
	position: absolute;
	right: 0;
	opacity: 0;
	z-index: 10;
}
.polygon {
	position: fixed;
	top: 100%;
	left: 50%;
	margin-left: -840px;
	opacity: 0;
}

.wphone-imgs {
	position: absolute;
	top: 40px;
	left: 500px;
}
.wphone {
	position: absolute;
	left: 0; top: 0;
	opacity: 0;
}
.st_3 .intro-text {
	position: absolute;
	top: 400px;
	left: 50px;
	font-family: Microsoft Yahei;
}
.st_3 .intro-text h1 {
	font-size: 56px;
}
.st_3 .intro-text p {
	display: block;
	width: 400px;
	margin: 20px 40px;
	font-size: 24px;
}


/*Background Style*/
.bg {
	height: 855px;
	position: relative;
}
.st_0 {
	background: #FFF url(../img/bs1.jpg) center top repeat-x;
}

.st_1, .st_2 {
	background: #55880F url(../img/bs2.jpg) center top repeat-x;
}

.st_3 {
	background: url(../img/bs3.jpg) repeat;
	width: 100%;
}

.st_4 {
	background: white;
}

/*utils*/
.transparent {
	opacity: 0;
}

.hide {
	display: none;
}

.absolute {
	position: absolute;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}