html {
	font-size: 100%;
}
body {
	height: auto;
	font-family: Arial;
	font-size: 1em;
}

.container {
	width: 100%;
	height: auto;
	padding-top: 0.75em;
	background-color: #EDF2F1;
}
.panel {
	margin: 1.5em 1.5em 0;

	box-sizing: border-box;
	background-color: #fff;
	border-radius: 4px;
	border-bottom: 2px solid rgba(0,0,0,0.1);
	overflow: hidden;
}

.icon {
	vertical-align: middle;
	display: inline-block;
}

.icon-arrow {
	width: 2em;
	height: 2em;
	background: url("../imgs/spri.png") 0 0 no-repeat;
}
.collapse .icon-arrow {
	width: 2em;
	height: 2em;
	background: url("../imgs/spri.png") 0 -38px no-repeat;
}

/*
	link list
*/
.panel-links {
}

.panel-links header {
	height: 5em;
	line-height: 5em;
	position: relative;
}
.panel-links header:active {
	background-color: rgba(194,208,200, 0.4);
}

.panel-links header h2 {
	width: 100%;
	height: 100%;
	margin: 0 0.333em;
	padding: 0;
	vertical-align: middle;
	text-indent: 0.667em;
	font-weight: 200;
	font-size: 2.25em;
}

.hb-c1.panel h2 {
	color: #42C9A6;
	border-bottom: 1px solid #42C9A6;
}
.hb-c2.panel h2 {
	color: #B564C3;
	border-bottom: 1px solid #B564C3;
}
.hb-c3.panel h2 {
	color: #FD826A;
	border-bottom: 1px solid #FD826A;
}
.hb-c4.panel h2 {
	color: #4DBAE2;
	border-bottom: 1px solid #4DBAE2;
}
.hb-c5.panel h2 {
	color: #9FD127;
	border-bottom: 1px solid #9FD127;
}
.panel-links header .icon {
	position: absolute;
	right: 1.5em;
	top: 1.5em;
}

.panel-links .panel-content {
	padding: 0 0.75em;
	overflow: hidden;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.panel-links.collapse .panel-content {
	height: 0;
}
.panel-links table {
	width: 100%;
	table-layout: fixed;
}

.panel-links tr:nth-child(1){
	border-bottom: 1px solid #CCCCCC;
}

.panel-links tr:nth-child(4){
	border-bottom: 1px solid #CCCCCC;
}

.panel-links tr{
	border-bottom: 1px solid #E5E5E5;
}

.panel-links tr:nth-child(6){
	border-bottom: none;
}

.panel-links td,
.panel-links th{
	height: 2.857em;
	overflow: hidden;
	box-sizing: border-box;

	font-size: 1.75em;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.panel-links h4{
	margin: 0;
	height: 100%;
	line-height: 2.857em;
	text-align: left;
	padding-left: 0.536em;
}

.panel-links .circle{
	float: left;
	width: 0.714em;
	height: 0.714em;
	margin: 1em 0.536em 0 0;
	-webkit-border-radius: 0.714em;
	border-radius: 0.714em;
}

.panel-links .circle1{
	border: 2px solid #42C9A6;
}
.panel-links .circle2{
	border: 2px solid #9ADA6B;
}
.panel-links .circle3{
	border: 2px solid #B768C4;
}
.panel-links .circle4{
	border: 2px solid #F47FCF;
}
.panel-links .circle5{
	border: 2px solid #FD826A;
}
.panel-links .circle6{
	border: 2px solid #FDBA6A;
}
.panel-links .circle7{
	border: 2px solid #4DBAE2;
}
.panel-links .circle8{
	border: 2px solid #67E2F8;
}
.panel-links .circle9{
	border: 2px solid #9FD127;
}
.panel-links .circle10{
	border: 2px solid #D9E877;
}

.panel-links .last:after{
	border-right: none;
}
.panel-links a {
	text-decoration: none;
	color: inherit;

	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.panel-links td{
	position: relative;
}

.panel-links td:after {
	content: ' ';
	position: absolute;
	height: 60%;
	right: 0;
	top: 0.714em;
	border-right: 1px solid #ccc;
}

.panel-links th {
	color: #D0D0D0;
	position: relative;
}
.panel-links th:after {
	content: ' ';
	position: relative;
	right: 0;
	top: 0.714em;
}

.panel-links td {
	color: #575757;
}

/*
	Footer
*/
.footer {
	box-sizing: border-box;

	height: 11.25em;
	margin-top: 2.25em;
	padding-top: 2.25em;

	border-top: 1px solid rgba(0,0,0,0.15);
	background-color: #fff;
	text-align: center;
}
.footer p {
	margin: 0;
	line-height: 1.4em;
	font-size: 1.75em;
	color: #adb2af;
}
.footer a {
	color: inherit;
	text-decoration: none;
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) {
	body {
		font-size: 0.375em;
	}

	.panel-links header {
		height: 2.7em;
		line-height: 2.7em;
		position: relative;
	}

	.panel-links header .icon {
		position: absolute;
		top: 0.75em;
		right: 0.75em;
	}

	.icon-arrow {
		background: url("../imgs/spri2.png") 0 0 no-repeat;
	}
	.collapse .icon-arrow {
		background: url("../imgs/spri2.png") 0 -38px no-repeat;
	}

	.footer {
		box-sizing: border-box;
		height: 5.625em;
		margin-top: 1.125em;
		padding-top: 1.125em;
		border-top: 0.036em solid rgba(0,0,0,0.15);
		background-color: #fff;
		text-align: center;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min-device-pixel-ratio:2) {
	body {
		font-size: 0.5em;
	}
	.panel-links header {
		height: 3.333em;
		line-height: 3.333em;
		position: relative;
	}

	.panel-links header .icon {
		position: absolute;
		right: 1em;
		top: 1em;
	}

	.icon-arrow {
		background: url("../imgs/spri2.png") 0 0 no-repeat;
	}
	.collapse .icon-arrow {
		background: url("../imgs/spri2.png") 0 -38px no-repeat;
	}

	.footer {
		box-sizing: border-box;
		height: 5.625em;
		margin-top: 1.125em;
		padding-top: 1.125em;
		border-top: 0.036em solid rgba(0,0,0,0.15);*/
		background-color: #fff;
		text-align: center;
	}

}

@media only screen and (-webkit-min-device-pixel-ratio:3), only screen and (min-device-pixel-ratio:3) {
	body {
		font-size: 0.5em;
	}
	.panel-links header {
		height: 5em;
		line-height: 5em;
		position: relative;
	}

	.panel-links header .icon {
		position: absolute;
		right: 1.5em;
		top: 1.5em;
	}
}
